* {
    margin:0;
    padding:0px;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background-color:#f1ecdc;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width:100vw;
}
nav{
    text-align: center;
    width:100%;
    position: fixed;
    z-index: 5;
}
a{
    text-decoration: none;
    color:black;
    text-align: center;
    padding:40px;
    font-size:25px;
    font-family:Poppins;
    position: relative;
    bottom:10px;
    font-weight: 500;
    cursor: pointer;
}
nav>div{
    background-color: #f1e2bb;
    padding:0px 0px 5px;
    height: auto;
}
a:hover{
    color:red;
}
main{
    display: flex;
    flex-direction: column;
}
#ler>p{
    text-align: center;
    position: absolute;
    bottom:50px;
    left:500px;
    font-family: Poppins;
    font-size: 48px;
    color: black;
}
#ler>p:hover{
    color:rgb(201, 57, 24);
    transform: scale(1.1);
}
#download{
    font-size: 24px;
    color:white;
    font-family: Notable;
    position: absolute;
    top:500px;
}
#download>img{
    background: transparent;
    width:300px;
    height: 50px;
    position: absolute;
    left:5px;
    top:40px
}
.title h1{
    font-family: Notable;
    font-size: 72px;
    color:white;
}
.title{
    background-color: rgb(201, 57, 24);
    width: 100%;
    height: 650px;
    padding:60px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    top:75px;
    z-index:-1
}
.title h3{
    font-family: Notable;
    font-size: 36px;
    color:white;
    margin-top: 10px;    
}
.logo{
    font-family:Notable;
    color:red;
    font-size: 52px;
    position: relative;
    right:80px;
    top:0px
}
.logo:hover{
    transform: scale(1.1);
}
.about{
    display: flex;
    /* justify-content: center; */
    height:900px;
    margin-top: 10px;
    position: relative;
}
#about{
    font-size: 20px;
    margin:50px 0px 0px 200px;
    width:500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about>h1{
    color:black;
    font-size: 42px;
}
#about>p{
    margin:50px 0px;
    font-family: Poppins;
}
#imgal{
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    position:absolute ;
    right:150px;
    top:180px;
    gap:8px;
    

}
#imgal>div>img{
    width: 250px;
    height: 200px;
    border:none;
    border-radius: 8px;
}
.category{
    margin:40px;
    width: auto;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}
#menu{
    margin:10px 50px;
    width:auto;
    height: auto;
}
section#menu>div>h1{
    font-size: 48px;
}
section#menu h3{
    font-size: 36px;
}
.foodimg{
    width:100%;
    height: 200px;
    border-bottom: 1px solid black;
    object-fit: cover;
}
.foodimg2{
    width:100%;
    height: 200px;
}
.food2{
    border-radius: 20px;
    border:1px solid black;
    overflow: hidden;
    object-fit: cover;
    width:295px;
    height: 400px;
    background-color: white;
    font-family: Poppins;
    box-shadow: 5px 8px rgb(201, 57, 24);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    cursor: pointer;
}
.food{
    border-radius: 20px;
    border:1px solid black;
    overflow: hidden;
    object-fit: cover;
    width:300px;
    height: 400px;
    background-color: white;
    font-family: Poppins;
    box-shadow: 5px 8px rgb(201, 57, 24);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    cursor: pointer;
}
.food:hover{
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3)
}
.food2:hover{
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3)
}
.sep{
    margin:0px 100px;
}
.app{
    margin:50px 40px;
    display: flex;
    gap:20px;
    width:auto;
}
.dish{
    margin:5px 15px;
    display:flex;
    flex-direction: column;
}
.dish>p+p{
    font-size: 18px;
}
.name{
    font-size: 24px;
}
#table{
    margin:0px 50px 50px;
    width:auto;
    height: auto;
}
#table>h1{
    font-size: 48px;
}
.container{
    margin:50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:50px
}
.tabcontainer{
    display:flex;
    gap:100px;
    align-items: center;
    font-family: sans-serif;
    margin-top:100px;
}
.form{
    background-color:white;
    border:none;
    border-radius: 15px;
    padding:40px 30px;
    width:auto;
    height: auto;
    box-shadow:8px 10px 1px 1px black;
    margin-top:50px
}
label{
    font-family: sans-serif;
    font-weight: 310;
    font-size: 18px;
}
input{
    display:block;
    margin-top:5px;
    padding:10px;
    background-color: #f2eee3;
    border:1px solid transparent;
    border-radius: 4px;
    height: 35px;
    font-size: 16px;
}
.fe{
    display: flex;
    gap:28px;
}
.fe input{
    width:250px;
}
.email input{
    width: 100%;
}
.dtg{
    display: flex;
    gap:20px
}
#form{
    display: flex;
    flex-direction: column;
    gap:25px
}
#request{
    display: block;
    margin:15px 0px;
    width: 100%;
    height: 100px;
    padding:10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
}
#book{
    width:100.2%;
    border:none;
    background-color: rgb(44, 44, 44);
    padding:10px;
    color:white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}
.form>p{
    text-align: center;
    color:grey
}
#book:hover{
    transform: scale(1.01);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3)
}
#bookcont{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}
.info{
    margin-bottom: 30px;
}
.symbol{
    display: flex;
    gap:15px;
    align-items: center;
}
.symbol>div>h4{
    font-size: 20px;
}
.symbol>div>p{
    font-size: 18px;
}
.symbol>img{
    width: 32px;
    height: 32px;
}
#ces>p{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
    font-family: Poppins;
    font-size: 48px;
    z-index: -1;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}
#ces>p:hover{
    color:rgb(201, 57, 24);
    transform: scale(1.1);
}
#footer{
    background-color: rgb(35, 34, 34);
    width: 100%;
    height: 400px;
    color:white;
    padding:100px;
    display: flex;
    justify-content: space-around;
}
#footer>div>p{
    font-size: 22px;
    text-align: center;
}
#footer>div>h1{
    text-align: center;
}
#images>a:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
#images>a{
    display: inline-block;
    padding: 20px 30px 0px 0px;
}
#sep2{
    width:150px;
    margin:0px 0px 0px 30px
}
#facebook{
    width: 45px;
    height: 45px;
    padding-bottom: 2px;
}
#yt{
    width: 70px;
    height: 70px;
}
#insta{
    width: 90px;
    height: 70px;
}
#images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px

}
#sep3{
    width:100px;
    margin:0px 0px 0px 125px
}
.formcf{
    background-color:white;
    border:none;
    border-radius: 15px;
    padding:40px 30px;
    width:500px;
    height: auto;
    box-shadow:8px 10px 1px black;
    margin:180px 50px 50px;
    text-align: center;

}
#feedback{
    width: 100%;
    height: 150px;
    padding:10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
}
.formcf>form>label{
    font-size: 32px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.formcf>form>button{
    width:100.2%;
    border:none;
    background-color: rgb(44, 44, 44);
    padding:10px;
    color:white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}
.formcf>form>button:hover{
    transform: scale(1.01);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3)
}
#cf{
    margin:30px 50px 0px;
    width:auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:200px;
    position: relative;
}
#cf>h1{
    position: absolute;
    top:0px;
    font-size:48px ;
    margin-top: 100px;
}
#star>label>input{
    display: inline-block;

}
#star>label>output{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 20px;
}








